<!-- MurMurのHTMLです  -->
{% extends 'base.html' %}
{% block contents %}

<article class="MurMurMain_container">
    <div class="Container_wide Container_common">
        <div class="ContainerUndo">
            <div class="MurMurMain_innner">
                <div class="MurMurMain_stickyShare">
                    <div class="MurMurMain_stickyShareInner">
                        <div class="LikeButton_container styke-large-white count-bottom">
                            <button class="LikeButton_button" aria-label="いいね">
                                <svg viewBox="0 0 110 110" class="LikeButton_svgLike">
                                    <path></path>
                                    <path></path>
                                    <g class="LikeButton_svgLikeDecoration">
                                        <circle cx="41.5" cy="9.5" r="3.5" fill="#3ea8ff"></circle>
                                    </g>
                                </svg>
                            </button>
                            <span class="LIkeButton_likedCount">23</span>
                        </div>
                        <span style="display:block;width:1px;height:0.5rem;flex-shrink:0"></span>
                    </div>
                </div>

                <div class="MurMurMain_columnsContainer">
                    <aside class="MurMurMain_sidebarContainer">
                        <div class="MurMurSidebar_container">
                            <div class="Container_default Container_common">
                                <!--<div class="MurMurSidebar_post MurMurSidebar_sidebarCard">-->
                                <button class="MurMurSidebar_button Button_baseStyle" onclick="location.href='{% url 'murmur:murmur_post' %}'">
                                    投稿する
                                </button>
                                <!--</div>-->

                                <span style="display:block;width:1px;height:25px;flex-shrink:0"></span>

                                <div class="MurMurSidebar_sticky">
                                    <div class="MurMurSidebar_user MurMurSidebar_sidebarCard">
                                        <div class="MurMurSidebar_title">
                                            <!--Profile-->
                                        </div>
                                        <div class="SidebarUserBio_container">
                                            <a href="#">
                                                <img src="{{ user.profile.image.url }}" class="rounded-circle img-thumbnail" alt="profile-image">
                                            </a>
                                        </div>
                                        <div class="SidebarUserBio_user">
                                            <div class="SidebarUserBio_name">
                                                {{ user.profile.name }}
                                            </div>
                                            <div class="SidebarUserBio_email">
                                                {{ user.email }}
                                            </div>
                                        </div>

                                        <span style="display:block;width:1px;height:25px;flex-shrink:0"></span>

                                        <div class="SidebarUserBio_follow">
                                            <div class="SidebarUserBio_follower">
                                                <div class="Sidebar_followName">
                                                    Follower
                                                </div>
                                                <div>
                                                    <a href="{% url 'murmur:user-followers' user.profile.name %}">
                                                        <h3 class="white-important follow-click">
                                                            {{ user.profile.followers }}
                                                        </h3>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="SidebarUserBio_following">
                                                <div class="Sidebar_followName">
                                                    Following
                                                </div>
                                                <div>
                                                    <a href="{% url 'murmur:user-follows' user.profile.name %}">
                                                        <h3 class="white-important follow-click">
                                                            {{ user.profile.following }}
                                                        </h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span style="display:block;width:1px;height:25px;flex-shrink:0"></span>

                                    <div class="MurMurSidebar_trends MurMurSidebar_sidebarCard">
                                        <div class="MurMurSidebar_title">
                                            Recomnends
                                        </div>
                                        <div>
                                            リコメンド
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </aside>
                  
                    <section class="TweetsMain_content">
                        <div class="TweetsMain_main">
                            <div class="Container_default Container_common">
                                <div id="topc-target-content">
                                    <div class="znc BodyContent_positionAdjusted BodyContent_anchorToHeading">
                                        <strong>Tweets</strong>
                                    </div>
                                </div>
                                {% for post in posts %}
                                <div class="Tweets_block">
                                    <div class="Tweets_blockBio">
                                        <div class="Tweets_blockIcon">
                                            <img src="{{ user.profile.image.url }}" class="rounded-circle img-thumbnail" style="border:1.5px; width: 80px;height: 100%;" alt="profile-image">
                                        </div>
                                        <div class="Tweets_blockUser">
                                            <div class="Tweets_blockUserName">
                                                {{ user.profile.name }}
                                            </div>
                                            <div class="Tweets_blockUserEmail">
                                                {{ user.email }}
                                            </div>
                                        </div>
                                        <span style="display:block;width:200px;height:100%;flex-shrink:0"></span>
                                        <div class="Tweets_blockPostTime">
                                            {{ post.date_posted | date:"H:i l, d.m.y" }}
                                        </div>
                                    </div>

                                    <span style="display:block;width:1px;height:0.5rem;flex-shrink:0"></span>


                                    <div class="Tweets_block_container">
                                        <div class="Tweets_postText">
                                            {{ post.content }}
                                        </div>

                                    </div>

                                    <div class="Tweets_postIcon">
                                        <div class="PostComments">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-fill" viewBox="0 0 16 16">
                                                <path d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                                            </svg>
                                            <span style="display:block;width:10px;height:0.5rem;flex-shrink:0"></span>
                                            <a  href="{% url 'murmur:murmur_detail' post.id %}">
                                                {{ post.number_of_comments }}
                                            </a>
                                        </div>

                                        <div class="PostCheers">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                            </svg>
                                            <span style="display:block;width:10px;height:0.5rem;flex-shrink:0"></span>
                                            <a href="#" onClick="document.getElementById('dislikebutton').submit()">
                                                {{ post.dislikes }}
                                            </a> 
                                        </div>

                                        <div class="PostGoods">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.964.22.817.533 2.512.062 4.51a9.84 9.84 0 0 1 .443-.05c.713-.065 1.669-.072 2.516.21.518.173.994.68 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.162 3.162 0 0 1-.488.9c.054.153.076.313.076.465 0 .306-.089.626-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.826 4.826 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.616.849-.231 1.574-.786 2.132-1.41.56-.626.914-1.279 1.039-1.638.199-.575.356-1.54.428-2.59z" />
                                            </svg>
                                            <span style="display:block;width:10px;height:0.5rem;flex-shrink:0"></span>
                                            <a href="#" onClick="document.getElementById('likebutton').submit()"><i class="fas fa-thumbs-up">
                                             {{post.likes}}
                                            </i></a> 
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    
                    <!--
                    <section class="TweetsMain_content">
                        <div class="TweetsMain_main">
                            <div class="Container_default Container_common">
                                <div id="topc-target-content">
                                    <div class="znc BodyContent_positionAdjusted BodyContent_anchorToHeading">
                                        <strong>Tweets</strong>

                                        <div class="col-6 no-padding">
                                            <h6 style="position: absolute; bottom: 0; right: 0"
                                                class="white-important mb-3">
                                                {{ page_obj.start_index }} - {{ page_obj.end_index }} of
                                                {{ paginator.count }}
                                            </h6>
                                        </div>

                                        {% for post in posts %}
                                        <article class="media content-section hovered-tweet ">
                                            <div style="width: 100%; word-break: break-all;">

                                                <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                                                    <div style="padding-left: 0px !important;"
                                                         class="col-8 no-padding d-flex align-items-center">
                                                        <img class="rounded-circle mr-2"
                                                             style="width: 100px; height: 100px;"
                                                             src="{{ post.author.profile.image.url }}">
                                                        <a class="mr-2 white-important" href="{% url 'murmur:user-posts'  post.author.profile.name%}">
                                                            {{ post.author.profile.name }}
                                                        </a>
                                                    </div>
                                                    <div class="col-4 d-flex flex-row-reverse no-padding align-items-center"
                                                         style="padding-right: 0 !important;">
                                                        {% if post.author == user %}
                                                        <a class="material-icons ml-2"
                                                           style="font-size: 14px">clear</a>
                                                        <a class="material-icons ml-2"
                                                           style="font-size: 14px"></a>update</a>
                                                        {%  endif %}
                                                    </div>
                                                </div>
                                                <div class="mb-2"
                                                     style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)"></div>

                                                <a style="color: rgba(156, 35, 35, 0.5) !important;"
                                                   href="{% url 'murmur:murmur_detail' post.id %}">
                                                    <p class="mb-4">
                                                        {{ post.content }}
                                                    </p>
                                                </a>

                                                <div class="row">
                                                    <div class="col-6" style="display: flex;">
                                                        <small style="opacity: 0.4;">


                                                            <a href="#" onClick="document.getElementById('likebutton').submit()"><i class="fas fa-thumbs-up"></i></a> {{post.likes}}   |   <a href="#" onClick="document.getElementById('dislikebutton').submit()"><i class="fas fa-thumbs-down"></i></a> {{post.dislikes}}
                                                        </small>
                                                        <small style="opacity: 0.4; margin-left:15px;">
                                                            <a href="/post/{{post.id}}/">
                                                                <i style=" font-size: 16px;" class="far fa-comment"></i> {{ post.number_of_comments }} comment(s)
                                                            </a>

                                                        </small>
                                                    </div>
                                                    <div class="col-6">
                                                        <small style="opacity: 0.4;"
                                                               class="white-important d-flex full-width flex-row-reverse">
                                                            {{ post.date_posted | date:"H:i l, d.m.y" }}
                                                        </small>
                                                    </div>
                                                </div>

                                            </div>
                                        </article>
                                        {% endfor %}

                                        <div class="full-width d-flex justify-content-center">
                                            {% if is_paginated %}
                                            {% if page_obj.has_previous %}
                                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                               href="?page=1">First</a>
                                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                               href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                            {% endif %}

                                            {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                            <a class="btn btn-sm btn-info mb-4 mr-2"
                                               href="?page={{ num }}">{{ num }}</a>
                                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                               href="?page={{ num }}">{{ num }}</a>
                                            {% endif %}
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                               href="?page={{ page_obj.next_page_number }}">Next</a>
                                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                               href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    -->
                </div>
            </div>
        </div>
    </div>

</article>

{% endblock %}